<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="primary">
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Componentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Tarea 2</ion-card-title>
      <ion-card-subtitle>Nombre: Oscar Marcelo Poma Calle</ion-card-subtitle>
      
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>IONIC</ion-card-title>
      <ion-card-subtitle>Diseño y Desarrollo de Ampliaciones para Móviles</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
