<app-header titulo="card"></app-header>

<ion-content>

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>IONIC</ion-card-subtitle>
      <ion-card-title>Oscar Marcelo Poma Calle</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit laboriosam et vel commodi aspernatur enim incidunt vitae necessitatibus voluptatem, repellendus nostrum quisquam? Minus consectetur mollitia nihil itaque ut vero sint!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit laboriosam et vel commodi aspernatur enim incidunt vitae necessitatibus voluptatem, repellendus nostrum quisquam? Minus consectetur mollitia nihil itaque ut vero sint!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1utN2euF4GW2BMVbyHExctXF2uTGDWbfVMQ&usqp=CAU">
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit laboriosam et vel commodi aspernatur enim incidunt vitae necessitatibus voluptatem, repellendus nostrum quisquam? Minus consectetur mollitia nihil itaque ut vero sint!
    </ion-card-content>
  </ion-card>
</ion-content>
